@media screen and (min-width: 1920px)and (max-width: 2559px) {
    .p-items img{
        width:100%;
    }

}
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.container{
	width: 970px;
    }
    .about-person {
      right: 15px;
      width: 470px;
      top:0;
    }
    .mainmenu ul li {
      margin-left: 41px;
    }
    .speech-title {
      right: 22px;
    }
    .creative-area {
      padding-top: 90px;
    }
    .speech-man {
      left: 0;
      top: 0;
      width: 443px;
    }
    #home_three .creative-content {
      margin-top: -40px;
    }

}


/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
 .container{
	width:750px;
}
    .about-person {
      right: 15px;
      top: 54px;
      width: 90%;
    }
    .speech-man {
      float: left;
      left: 0px;
      overflow: visible;
      position: absolute;
      top: 65px;
      width: 351px;
    }
    .mainmenu ul li {
      margin-left: 23px;
    }
    .footer-copyright p{
        font-size: 11px;
    }
    .speech-title {
      right: 19px;
      top: -69px;
    }
    .same-width {
      width: 100%;
    }
    .work-title {
      left: 13px;
      top: -25px;
    }
    .speech-area {
      padding-top: 100px;
    }
    .services-area {
      padding-bottom: 100px;
    }
    .about-desc {
      padding: 120px 30px;
    }
    .about-desc p::after {
      left: -30px;
      width: 25px;
    }
    #home_two .creative-content {
      padding: 0 60px;
    }
    #home_three .creative-content h1 {
      font-size: 33px;
      line-height: 40px;
    }
    #home_three .creative-content {
      margin-top: -30px;
    }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
.container {
	width:320px;
}
    .footer-copyright p{
        font-size: 14px;
    }
    .footer-icon {
    float: none;
    text-align: center;
}
    .single-service{
        margin-bottom: 50px;
    }
    .about-person{
    }
    .video_play_btn {
    bottom: 18%;
    left: 29%;
}
    .about-person {
      display: none;
    }
    .navbar-toggle {
      border: 0px solid #fff;
      float: right;
      border-radius: 0px;
        margin-top: 4px;
        margin-right: 0px;
    }
    .navbar-header {
      display: inline-block;
      float: right;
    }
    .navbar-toggle .icon-bar {
      background: #fff none repeat scroll 0 0;
    }
    .works-area {
  padding: 100px 0px;
}
    .about-title h1 {
      font-size: 70px;
    }
    .service-title h1 {
      font-size: 57px;
    }
    .speech-title {
      right: 6px;
      top: -9px;
    }
    .speech-title h1 {
      font-size: 55px;
    }
    .speech {
      width: 100%;
      padding: 70px 30px 30px 0;
    }
    .speech-man {
      position: static;
    }
    .Speech-quotes {
      position: absolute;
      top: 64%;
        left: 0;
    }
    .speech-para {
      padding: 15px;
    }
    .speech-para:after{
       display: none;
    }
    .speech-area {
      padding-top: 0px;
    }
    .mainmenu ul li {
        margin-left: 0px;
        margin-bottom: 20px;
        padding: 0px;
    }
    .works-area {
      padding: 34px 0;
    }
    .work-title {
      left: 13px;
      top: 0px;
    }
    .work-title h1{
      font-size: 70px;
    }
    .contact-form h3::after {
      left: -56px;
      width: 37px;
    }
    .about-desc p::after {
      display: none;
    }
    .services-area {
      padding: 100px 0 0;
    }
    .service-title {
      right: 15px;
      top: 42px;
    }
    .service-title h1 {
      font-size: 55px;
    }
    .creative-area {
      padding-top: 30px;
    }
    .about-area {
      padding-top: 87px;
    }
    .creative-content h1::after {
      display: none;
    }
    .footer-copyright p a {
      display: block;
      margin: 20px auto;
      text-align: center;
        font-weight: 700; 
    }
    .footer-copyright p{
        text-align: center;
    }
    .filter-menu li {
      margin-left: 4px;
        cursor: pointer;
    }
    .p-items {
      width: 100%;
    }    
    .p-items.p-max-items {
      width: 100%;
    }    
    .mainmenu {
      z-index: 99;
      position: relative;
    }
    .contact-adress {
      padding: 45px;
    }
    .same-width{
        width: 100%;
    }
    .branding-area {
      padding: 50px 0;
    }
    .about-desc {
      padding: 50px 60px;
    }
    .creative-content h1 {
      font-size: 29px;
    }
    #home_three.creative-content h1 {
      font-size: 29px;
    }
    #home_two .creative-video {
      float: left;
      width: 100%;
    }
    #home_two .creative-content {
      padding: 45px 20px;
      width: 100%;
    }
    .about-title {
      top: -81px;
    }
    .mainmenu ul.nav.navbar-nav li ul {
        display: none;
    }
}



/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {
	width:450px;
}
    .footer-copyright p {
      text-align: center;
    }
    .video_play_btn {
      bottom: 29%;
      left: 34%;
    }
     .p-items {
      width: 100%;
    }
     .p-items img{
      width: 100%;
    }    
    .p-items.p-max-items {
      width: 100%;
    }
    .Speech-quotes {
      top: 70%;
    }

}